.wrap:after {
    content : '';
    display : block;
    clear   : both;
}

.el {
    float : left;
}

.el1 {
    width  : 15%;
    height : auto;
}

.el2 {
    width : 70%;
    /* margin : 1%; */
}

.el7 {
    width : 70%;
    /* margin : 1%; */
}

.el8 {
    width : 100%;
    margin-top: -25%;
}

.el3 {
    width  : 70%;
    height : 100%;
}

.el4 {
    width  : 15%;
    height : auto;
    float  : right;
}

.el5 {
    width : 26%;
    /* margin : 1%; */
    float : right;
}

.el9 {
    width : 30%;
    /* margin : 1%; */
    float : right;
    /* margin-top: -25%; */
}

.el10 {
    width : 100%;
    /* margin : 1%; */
    margin-top: -35%;
}

.el6 {
    width : 100%;
    /* margin : 1%; */
}

@media (max-width : 900px) {
    .el1, .el4{
        display : none;
    }

    .el3, .el8{
        width : 100%;
    }

    .el8{
        margin-top: -35%;
    }

    .botao{
        display : none;
    }

    .el2{
        margin-top  : 10%;
        margin-left : 3%;
    }

    .el .textIndex{
        width : 100%;
    }

    .el .input-file{
        margin-top: -20%;
    }

    .el6{
        /* margin-left : 3%; */
        width: 100%;
    } 

    .el #slcAbelha_div{
        width : 90%;
    }

    .el #slcMes_div{
        width : 90%;
    }

    .el .titulo{
        font-size : 7vw;
    }

    .el #textoo{
        font-size : 7vw;
    }

    .el .firstP{
        margin-left: 2%;
    }

    .el .el10{
        margin-left: 2%;
    }

    .el .el9{
        margin-top: -75%;
    }
}

@media screen and (min-width : 900px){
    #navbar{
        display : none;
    }
}

.nav-item{
    margin         : 2%;
    min-width      : 100%;
    border         : 0.5px solid #C87092;
    box-sizing     : border-box;
    filter         : drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color          : #C87092;
    font-family    : IBM Plex Serif;
    font-weight    : 700;
    text-align     : center;
}

#slcAbelha_div{
    margin-top : 5%;
}

#navbarTogglerDemo03{
    text-align : right;
}

#toggleButton{
    padding    : 0;
    border     : none;
    background : none;
}

.titulo{
    margin-top     : 3%;
    color          : #C87092;
    font-family    : IBM Plex Serif;
    font-weight    : 700;
    font-size      : 4vw;
    text-align     : center;
    letter-spacing : 0.04em;
}

.botao{
    margin         : 1%;
    margin-top     : 10%;
    min-width      : 100%;
    height         : 3vw;
    border         : 0.5px solid #C87092;
    box-sizing     : border-box;
    filter         : drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color          : #C87092;
    font-family    : IBM Plex Serif;
    font-weight    : 700;
    text-align     : center;
    letter-spacing : 0.04em;
    font-size      : larger;
}

.botao:hover{
    margin         : 1%;
    margin-top     : 10%;
    min-width      : 100%;
    height         : 3vw;
    border         : 0.5px solid #C898;
    box-sizing     : border-box;
    filter         : drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color          : #C898;
    font-family    : IBM Plex Serif;
    font-weight    : 700;
    text-align     : center;
    letter-spacing : 0.04em;
}

.textIndex{
    margin-top     : 5%;
    width          : 30vw;
    font-family    : Roboto;
    font-style     : normal;
    font-weight    : normal;
    font-size      : 24px;
    line-height    : 150%;
    letter-spacing : 0.03em;
    color          : #494949;
    text-align     : justify;
}

.texto{
    font-family    : Roboto;
    font-style     : normal;
    font-weight    : normal;
    font-size      : 24px;
    line-height    : 28px;
    letter-spacing : 0.03em;
    color          : #494949;
}

.mesesStyle{
    width          : 68.45px;
    height         : 71.61px;
    background     : #FFFFFF;
    border         : 1.05315px solid #D7D6D6;
    box-sizing     : border-box;
    box-shadow     : 0px 4.21261px 4.21261px rgba(0, 0, 0, 0.25);
    margin         : 0% 2% 0% 0%;
    font-family    : Roboto;
    font-style     : normal;
    font-weight    : bold;
    font-size      : 16.8505px;
    line-height    : 20px;
    letter-spacing : 0.03em;
    color          : #494949;
}

input[type=checkbox] {
    display : none; 
}

input[type=checkbox] + label {
    display        : inline-block;
    width          : 68.45px;
    height         : 71.61px;
    background     : #FFFFFF;
    border         : 1.05315px solid #D7D6D6;
    box-sizing     : border-box;
    box-shadow     : 0px 4.21261px 4.21261px rgba(0, 0, 0, 0.25);
    margin         : 0% 2% 0% 0%;
    padding        : 2% 1%;
    font-family    : Roboto;
    font-style     : normal;
    font-weight    : bold;
    font-size      : 16.8505px;
    line-height    : 20px;
    letter-spacing : 0.03em;
    color          : #494949;
}

input[type=checkbox]:checked + label { 
    background-color : #FFBED7;
}

.firstP{
    font-family    : Roboto;
    font-style     : normal;
    font-weight    : normal;
    font-size      : 24px;
    line-height    : 150%;
    letter-spacing : 0.03em;
    color          : #494949;
    text-align     : justify;
}

.imagemFundo{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -60px;
    top: -80%;
    border-radius: 383.659px;
    transform: rotate(-190.98deg);
    z-index: -9999;
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

input[type="file"]{
    opacity:0;
    
}
 
.input-file {
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
}

#bolinhaUpload{
    padding: 10%;
    color: white;
    width: 50%;
    height: 50%;
    background: #FFBED7;
    border-radius: 100%;
}

.bolinhaUpload{
    color: white;
    width: 50%;
    height: 60%;
    background: darkorchid;
    border-radius: 100%;
}

#bolinhaUpload:hover{
    background: darkorchid;
}

.botaoCancela{
    width: 277px;
    height: 57px;
    border: 0.5px solid #C87092;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FD96BE;
}

.botaoSubmit{
    width: 277px;
    height: 57px;
    border: 0.5px solid #C87092;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.03em;
    background: #FD96BE;
    color: white;
}